@import url(global.css);

.main-content {
    grid-area: content;
    padding: 40px 60px;
}

.main-content h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #333;
}

.orders-table th {
    text-align: left;
    padding: 15px;
    border: 1px solid #333;
    background-color: var(--white);
    font-size: 0.9rem;
    font-weight: bold;
}

.orders-table td {
    padding: 20px 15px;
    border: 1px solid #333;
    vertical-align: middle;
    font-size: 1rem;
}

.order-number {
    font-weight: bold;
}

.btn-details {
    background-color: var(--white);
    color: var(--text-main);
    padding: 8px 25px;
    border: 1px solid var(--text-main);
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-details:hover {
    background-color: var(--gray-bg);
}

.status-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.order-status-text {
    font-weight: bold;
}

.btn-status-order {
    background-color: var(--bg-btn);
    color: var(--white);
    border: none;
    padding: 6px 14px;
    border-radius: 14px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}
