@import url(global.css);

.main-content {
    grid-area: content;
    padding: 60px 80px;
}

.main-content h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.register-form-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 1.1rem;
}

.form-input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    font-size: 1rem;
    color: var(--gray-text);
    outline: none;
}

.btn-register {
    background-color: var(--bg-btn);
    color: var(--white);
    padding: 12px 50px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    margin: 20px 0 10px 0;
}

.back-link {
    display: block;
    text-decoration: none;
    color: var(--text-main);
    font-size: 0.9rem;
    margin-top: 10px;
}